<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <style>
        .table-all{
            align-items: center;
            text-align: center;
        }
        .table{
            padding-left:40%;
            padding-top:10%;
        }
        .addproducttbtn {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  text-align: center;
  margin: 8px 500px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  float: right
  }
.edit{
    background-color:khaki;
    color: saddlebrown;
}
.delete{
    background-color:tomato;
    color:seashell;
}
.addproducttbtn:hover {
  opacity: 1;
}
    .red{
        background-color: cornflowerblue;
    }
   
    </style>
</head>
<title>productdetails</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h3>History of a User</h3>
<div class="container table"> 
  <table class="table-all" border="1">
    <thead>
      <tr class="red">
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <% orderProducts.forEach(orderProducts => { %>
      <tr>
      <td><%= orderProducts.orderProductName %></td>
      <!-- <td><img src="data:image/JPG;base64,<%= orderProducts.orderProductImage %>" height="50px" width="50px"></td> -->
      <td><img src="../uploads/products/<%= orderProducts.orderProductImage %>" height="50px" width="50px"></td>
      <td><%= orderProducts.totalPrice %></td>
      <td><%= orderProducts.orderedQuantity %></td>
    </tr>
    <%})%>

  </table>
</div>
</body>
</html> 
