<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <style>
        .table-all{
            align-items: center;
            text-align: center;
        }
        .table{
            padding-left:40%;
            padding-top:10%;
        }
        .addproducttbtn {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  text-align: center;
  margin: 8px 500px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  float: right
  }
.edit{
    background-color:khaki;
    color: saddlebrown;
}
.delete{
    background-color:tomato;
    color:seashell;
}
.addproducttbtn:hover {
  opacity: 1;
}
    .red{
        background-color: cornflowerblue;
    }
   
    </style>
</head>
<title>productdetails</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<div class="container table">
  
 <a href="/add"><button class="addproducttbtn">Add Product</button></a>
 <form action="/history" method="POST"><button type="submit" class="addproducttbtn">Find History</button></form>

  <table class="table-all" border="1">
    <thead>
      <tr class="red">
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>

    <% products.forEach(products => { %>
      <tr>
      <td><%= products.productName %></td>
      <td><%= products.productPrice %></td>
      <td><%= products.quantity %></td>
      <td><a href="/editUser/<%= products._id %>">Edit</a>&nbsp;&nbsp;&nbsp;<a href="/deleteUser/<%= products._id %>">delete</a>&nbsp;&nbsp;&nbsp;<a href="/buy/<%= products._id %>">Buy</a></td>
    </tr>
    <%})%>

  </table>
</div>
</body>
</html> 

